In [43]:
import pandas as pd
from prophet import Prophet
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
# Load the data
ds_salaries_df = pd.read_csv('../Project 1/data_science_salaries.csv')

In [45]:
ds_salaries_df.head()

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium

In [46]:
ds_salaries_df.describe()

         work_year        salary  salary_in_usd
count  6599.000000  6.599000e+03    6599.000000
mean   2022.818457  1.792833e+05  145560.558569
std       0.674809  5.263722e+05   70946.838070
min    2020.000000  1.400000e+04   15000.000000
25%    2023.000000  9.600000e+04   95000.000000
50%    2023.000000  1.400000e+05  138666.000000
75%    2023.000000  1.875000e+05  185000.000000
max    2024.000000  3.040000e+07  750000.000000

In [47]:
ds_salaries_df.dtypes

job_title             object
experience_level      object
employment_type       object
work_models           object
work_year              int64
employee_residence    object
salary                 int64
salary_currency       object
salary_in_usd          int64
company_location      object
company_size          object
dtype: object

In [48]:
ds_salaries_df['employment_type'].unique()

array(['Full-time', 'Part-time', 'Contract', 'Freelance'], dtype=object)

In [49]:
ds_salaries_df['company_size'].unique()

array(['Medium', 'Large', 'Small'], dtype=object)

In [50]:
ds_salaries_df['experience_level'].unique()

array(['Mid-level', 'Senior-level', 'Entry-level', 'Executive-level'],
      dtype=object)

In [51]:
ds_salaries_df['employment_type'].value_counts()

employment_type
Full-time    6552
Contract       19
Part-time      16
Freelance      12
Name: count, dtype: int64

In [52]:
ds_salaries_df['company_size'].value_counts()

company_size
Medium    5860
Large      569
Small      170
Name: count, dtype: int64

In [53]:
ds_salaries_df['experience_level'].value_counts()

experience_level
Senior-level       4105
Mid-level          1675
Entry-level         565
Executive-level     254
Name: count, dtype: int64

In [56]:
ds_avg_salary_by_size = ds_salaries_df.groupby('company_size')['salary_in_usd'].mean()
ds_avg_salary_by_size

company_size
Large     120638.404218
Medium    149659.386689
Small      87687.458824
Name: salary_in_usd, dtype: float64

In [60]:
ds_job_title_dist = ds_salaries_df.groupby(['company_size', 'job_title']).size().reset_index(name='counts')
ds_job_title_dist.head()

  company_size           job_title  counts
0        Large        AI Architect       2
1        Large        AI Developer       2
2        Large         AI Engineer       3
3        Large  AI Product Manager       1
4        Large       AI Programmer       2

In [61]:
ds_experience_level_dist = ds_salaries_df.groupby(['company_size', 'experience_level']).size().reset_index(name='counts')
ds_experience_level_dist.head()

  company_size experience_level  counts
0        Large      Entry-level     115
1        Large  Executive-level      20
2        Large        Mid-level     181
3        Large     Senior-level     253
4       Medium      Entry-level     401

In [62]:
plt.figure(figsize=(10, 6))
plt.bar(ds_avg_salary_by_size['company_size'], ds_avg_salary_by_size['salary_in_usd'], color='skyblue')
plt.title('Average Salary by Company Size')
plt.xlabel('Company Size')
plt.ylabel('Average Salary (USD)')
plt.show()

KeyError: 'company_size'